/* Styles for Gallery Page (gallery.html) */

.gallery-hero {
    background-color: var(--bg-light);
    padding: 4rem 5%;
    text-align: center;
}

.gallery-hero h1 {
    font-family: var(--serif-font);
    font-size: 3.5rem;
    color: var(--secondary-color);
}


.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 2rem 5%;
}

.gallery-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s, opacity 0.3s;
}

.gallery-item:hover img {
    transform: scale(1.05);
    opacity: 0.8;
}
